{{/* Pricing Table Block */}}
{{/* Documentation: TODO */}}
{{/* License: TODO */}}

{{/* Initialise */}}
{{ $page := .wcPage }}
{{ $block := .wcBlock }}

<div class="row featurette">
  {{ with $block.content.title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $block.content.subtitle }}<p>{{ $block.content.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $block.content.text }}
  <div class="col-md-12">
    {{ . | emojify | $page.RenderString }}
  </div>
  {{ end }}

  {{ range $block.content.items }}
  <div class="col-12 col-sm-4">
    <div class="card text-center">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ .name | markdownify | emojify }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ .price }}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          {{ range .features }}
          <li>{{ . | markdownify | emojify }}</li>
          {{ end }}
        </ul>
        <a href="{{ .button_url }}" class="btn btn-lg btn-block btn-outline-primary">{{ .button_text }}</a>
      </div>
    </div>
  </div>
  {{ end }}
</div>
